*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    justify-content: flex-end;
    padding-right: 200px;
    position: fixed;
    z-index: 99;
    
}
#nav i{
    color: orange;
}

#image{
    height: 100%;
    width: 100%;  
    z-index: -1;
    
    }
#image img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main{
    position: relative;
    /* background-color: red; */
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page1 h2{    
    font-size: 40px;
    color: white;
    margin-top: 50px;
}
#page1 button{

    margin-top: 30px;
    padding: 5px 8px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
}
